.container {
  max-width: 500px;
  margin: 10px auto;
}

.header0 {
  text-transform: uppercase;
}

.header1 {
  text-transform: uppercase;
  color: green;
}

.header2 {
  text-transform: uppercase;
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.formItem {
  display: flex;
  align-items: center;
}

.formItem label {
  display: block;
  flex-shrink: 0;
  width: 100px;
}

.input {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}

.timer {
  display: flex;
  align-items: center;
}

.button {
  padding: 5px 30px;
  margin-top: 10px;
}

.gameBoard {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circleText {
  color: white;
}